body{
    background-color: rgb(0, 255, 255);
    margin: 0;
    font-family: 'Balsamiq Sans', cursive;
}

header{
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 40px;
    margin-right: 40px;
}

header button{
    background-color: rgb(255, 2, 255);
    color: teal;
    padding: 10px 20px;
    border: red solid 5px;
}

header button:hover{
    background-color: violet;
}

main button{
    background-color: rgb(255, 2, 255);
    color: teal;
    padding: 10px 20px;
    border: red solid 5px;
}

main button:hover{
    background-color: violet;
}

.first{
    text-align: center;
    padding: 100px 0;
    background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.294)), url(BRUH.jpg);
    color: white;
}

.second{
    background-color: white;
    text-align: center;
    padding: 50px 0;
}

.skills{
    display: flex;
    justify-content: space-around;
}